<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents">
      <h1>確定拠出年金（401k）のポートフォリオを共有するサイト</h1>
      <%= link_to 'アカウント作成' , login_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>